/*Начало шапки!!!*/

body{
    font-family: "Montserrat";
    font-size: 18px;
    background: url(../img/fone.pngf);
    background-attachment: fixed;
}


.super__container {
    max-width: 1556px;
    margin: 0px 160px;
    background-color: rgb(255, 255, 255);
    
}


.container__inner{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.container{
    display: flex;
    flex-direction: row;
    
}
.container__logo {
    
    
   
    display: flex;
    justify-content: start;
    justify-content: start;
    align-items: center;
}
.signature {
    font-size: 15px;
    line-height: 20px;
    color: #3b3d40;
}

.header{
    
    background-color: #f1f1f1 ;
}

.logo__img {
    max-width: 60px;
    
}
.logo {
    max-width: 80px;
    margin: 0px 30px;
    animation: infinite;
    transition: 0.6s;
}

.pin__store{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.store,.meal,.news,.school{
    margin: 0px 90px;
    border-left: #b1b1b1 1px solid;
    border-right: #b1b1b1 1px solid;
    animation: infinite;
    transition: 0.6s;
    box-shadow: #d8d8d8 1px 0px 20px 1px;
}

.store:hover,.meal:hover,.news:hover,.school:hover{
    background-color: #c4c4c4 ;
}

.store__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 30px;
}



.school__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 30px;
}
.meal__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 30px;
    min-width: max-content;
}
.news__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 30px;
}

.menu{

    display: none;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    border: #b1b1b1 1px solid;
    padding-left: 90px;
    padding-right: 90px;
    animation: infinite;
    transition: 0.6s;
    
}

.menu__inner{
    
    color: #000;
}

.menu:hover{
    background-color: #c4c4c4 ;
    cursor: pointer;
    
}


 /*Конец шапки!!!*/ 


 /*Начало media!!!*/ 


@media (max-width: 1700px){
    /*Начало шапки!!!*/
    .super__container{
        margin: 0px 100px;
    }
    .store,.meal,.news,.school{
        margin: 0px 50px;
    }
    /*Конец шапки!!!*/ 
        
        
    /*Начало grid!!!*/
    
    
    
    /*Конец grid!!!*/
    }

    @media (max-width: 1540px){
        
        
        
        /*Начало grid!!!*/
        
        .grid__item span{
            font-size: 15px;
        }
        
        .grid__body{
            grid-template-columns: 0.5fr 0.5fr ;
        }
        .common,.common__boys,.common__girls{
            max-width: 320px;
        }
        /*Конец grid!!!*/
    }

    @media (max-width: 1500px){
        /*Начало grid!!!*/
        .katy,.karina,.dasha{
            max-width: 220px;
        }
    
        .grid__body{
            
            grid-template-columns: ;
        }

        .katy,.karina,.dasha{
            max-width: 200px;
        }
        
        .common,.common__boys,.common__girls{
            max-width: 300px;
        }
        /*Конец grid!!!*/
    }
    @media (max-width: 1550px){
        /*Начало grid!!!*/
        .katy,.karina,.dasha{
            max-width: 220px;
        }
    
        .grid__body{
            
            grid-template-columns: 1fr 1fr;
        }

        .katy,.karina,.dasha{
            max-width: 200px;
        }
        
        .common,.common__boys,.common__girls{
            max-width: 300px;
        }
        /*Конец grid!!!*/
    }

    @media (max-width: 1340px){
        /*Начало шапки!!!*/
        .store,.meal,.news,.school{
            margin: 0px 20px;
        }
        /*Конец шапки!!!*/
        
        /*Начало шапки!!!*/
        .grid__body {
            text-align: center;
            grid-template-columns:1fr 1fr  ;
        
        }
        /*Конец шапки!!!*/
        }

        @media (max-width: 1110px){
            /*Начало шапки!!!*/
            .super__container{
                margin: 0px 100px;
            }
            .store,.meal,.news,.school{
                margin: 0px 13px;
            }

            
            /*Конец шапки!!!*/ 

            /*Начало шапки!!!*/
            /*Конец шапки!!!*/
            }

            @media (max-width: 1000px){
                /*Начало шапки!!!*/

                .logo{
                    max-width:70px ;
                }
                
                .logo__img {
                    max-width: 30px;
                }
                .signature {
                    font-size: 12px;
                    
                }
                /*Конец шапки!!!*/ 

                /*Начало шапки!!!*/
                /*Конец шапки!!!*/
                }

                @media (max-width: 900px){
                    /*Начало шапки!!!*/
                    
                    .logo__img {
                        max-width: 28px;
                    }
                    .signature {
                        font-size: 11px;
                        
                    }
                    .logo{
                        max-width: 56px;
                    }

                    .store__inner{
                        
                        margin: 10px 18px;
                    }
                    .school__inner {
                        
                        margin: 10px 18px;
                    }
                    .meal__inner {
                        
                        margin: 10px 18px;

                    }
                    .news__inner {
                        
                        margin: 10px 18px;
                    }
                    /*Конец шапки!!!*/ 

                    /*Начало шапки!!!*/
                    /*Конец шапки!!!*/
                    }

                    @media (max-width: 780px){
                        /*Начало шапки!!!*/
                        .container{
                            justify-content: space-between;
                        }

                        .container__inner{
                            margin: 0;
                            
                        }
                        .super__container{
                            margin: 0px 60px;
                        }
                    .pin__store{
                        
                        display: none;
                    }
                    .menu{
                        
                        display: flex;
                        justify-content: end;
                    }
                    /*Конец шапки!!!*/ 

                    /*Начало шапки!!!*/
                    /*Конец шапки!!!*/
                        }

                        @media (max-width: 590px){
                            /*Начало шапки!!!*/
                
                            .super__container{
                                margin: 0px 50px;
                            }
                            .menu{
                                padding-left: 50px;
                                padding-right: 50px
                            }
                            /*Конец шапки!!!*/
                            
                            /*Начало шапки!!!*/
                            /*Конец шапки!!!*/
                                }

                                @media (max-width: 495px){
                                    /*Начало шапки!!!*/
                
                                    .super__container{
                                        margin: 0px 40px;
                                    }
                                    .menu{
                                        padding-left: 20px;
                                        padding-right: 20px
                                    }
                                    
                                    /*Конец шапки!!!*/
                                    
                                    /*Начало grid!!!*/
                                    
                                    /*Конец grid!!!*/
                                        }

                                        @media (max-width: 436px){
                                            /*Начало шапки!!!*/
                                            .super__container{
                                                margin: 0px 20px;
                                            }
                                            .logo{
                                                max-width: 50px;
                                            }
                                            .menu{
                                                font-size: 15px;
                                                
                                                padding-left: 10px;
                                                padding-right: 10px
                                            }
                                            /*Конец шапки!!!*/

                                            /*Начало шапки!!!*/
                                            /*Конец шапки!!!*/ 
                                                }

     /*Конец media!!!*/                                          

   
    .intro__main__content {
}
.intro {
    
}

.grid {

    border: #b1b1b1 2px dashed;
}
.grid__body {
    margin: 0 auto;
    padding: 20px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;

}
.grid__item {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    grid-auto-flow: column;
}
.grid__item span{
    padding: 20px;
    
}
.grid__lang{
    padding: 10px;
    text-align: center;
    border: #b1b1b1 2px dashed;
}
.katy,.karina,.dasha{
    max-width: 100%;
    margin: 0 auto;
}

.common,.common__boys,.common__girls{
    max-width: 100%;
    margin: 0 auto;
}


















/*----Светящийся--текст---не--я--его--сделал-- :( */
.container__intro {
    font-size: 50px;
    line-height: 50px;
    font-family: Verdana, sans-serif;
    font-weight: 900;
    position: relative;
    background: white;
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    margin: 30px;
}
.container__intro:before {
    content: '';
    position: absolute;
    filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 1em, #BFE2FF 1em, #337AB7 50%), repeating-linear-gradient(45deg, #337AB7, #337AB7 1em, #FFF 1em, #BFE2FF 50%);
    background-size: 3em 3em, 2em 2em;
    animation-name: ani;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes ani {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
    }
}
@media (max-width:690px) {    
    .container__intro {font-size: 40px;}    
}

@media (max-width:490px) {    
    .container__intro {font-size: 20px;}    
}

/*--Конец--Светящегося--текста---не--я--его--сделал-- :( */

.rrr{
    max-width: 200px;
}
